$min-layout-breakpoint-tablet: 768px;
$max-layout-breakpoint-tablet: 1220px;

$min-layout-breakpoint-mobile: 0px;
$max-layout-breakpoint-mobile: 767px;

$logo-color: #be9e44;
$logo-bg-color: #1a1a1a;

$bg-color: #000;
$text-color: #d8c690;
$hover-color: #e5d9b6;
$item-bg: #dbdbdb;

html {
  /* Track */
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: $text-color;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: $hover-color;
  }

  /* Handle on active */
  ::-webkit-scrollbar-thumb:active {
    background-color: $logo-color;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $bg-color;
  }
}

.app {
  background-color: $bg-color;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Caviar Dreams";


  .link {
    text-decoration: none;
    color: inherit;
  }

  // Bg logo
  .logo-container {
    width: 100%;

    background-color: $logo-bg-color;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #top-blur {
      width: 100%;
      height: 30px;

      background: linear-gradient(black, rgba(0, 0, 0, 0.705));
      box-shadow: 0 5px 20px #000000;

      @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
        height: 0px;
      }
    }

    #bottom-blur {
      width: 100%;
      height: 30px;

      background: linear-gradient(rgba(0, 0, 0, 0.705), black);
      box-shadow: 0 -5px 20px #000000;

      @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
        height: 30px;
        box-shadow: 0 -5px 20px #000000;
      }
    }

    .logo {
      box-sizing: border-box;

      font-size: 8rem;

      color: $logo-color;

      @media screen and (min-width: $min-layout-breakpoint-tablet) and (max-width: $max-layout-breakpoint-tablet) {
        font-size: 6rem;
      }

      @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
        font-size: 3rem;

        padding: 50px 0;
      }
    }
  }

  // Container for nav, body, and footer.
  .layout-container {   
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    // Nav container
    .navbar-container {
      width: 60%;

      background-color: #ffffff11;
      box-shadow: 0 0 10px $hover-color;

      position: sticky;

      border-radius: 20px;

      @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
        width: 90%;
      }

      @media screen and (min-width: $min-layout-breakpoint-tablet) and (max-width: $max-layout-breakpoint-tablet) {
        width: 90%;
      }

      .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-tablet) {
          flex-direction: column;
          align-items: start;

          padding: 10px 20px;

          background-color: transparent;
          color: $text-color;

          border-radius: 20px;

          #close-menu {
            font-size: 1.4rem;
          }
        }

        .link {
          text-decoration: none;
          
          color: $text-color;

          font-size: 1.3rem;
          padding: 15px 0;

          @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
            font-size: 1.1rem;
          }

          &:hover {
            cursor: pointer;
            color: $hover-color;
          }

          &:active {
            color: $logo-color;
          }
          
          .clicked {
            color: $logo-color;
          }

          #login, #logout {
            font-weight: bold;
          }
        }
      }

      .menu-container {
        box-sizing: border-box;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        color: $text-color;
        background-color: #ffffff11;

        border-radius: 20px;
        
        font-size: 1.5rem;
        padding: 7px 20px;

        @media screen and (min-width: $min-layout-breakpoint-tablet) and (max-width: $max-layout-breakpoint-tablet) {
          padding: 15px 25px;
        }

        @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
          font-size: 1.3rem;
        }

        .link {
          color: $text-color;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  
    // Home container
    .home-container {
      box-sizing: border-box;
      background-color: $logo-bg-color;
      box-shadow: 0 0 10px $hover-color;

      border-radius: 20px;

      width: 60%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      padding: 10px 20px;
      margin: 25px 0;

      @media screen and (min-width: $min-layout-breakpoint-tablet) and (max-width: $max-layout-breakpoint-tablet) {
        width: 90%;
      }

      @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
        width: 100%;
        box-shadow: none;
        border-radius: 0;
      }

      .carousel-header {
        color: $logo-color;

        @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
          font-size: 1.3rem;
        }

        @media screen and (min-width: $min-layout-breakpoint-tablet) and (max-width: $max-layout-breakpoint-tablet) {
          font-size: 1.5rem;
        }
      }

      // Carousels in the container
      .carousel-container {

        // The entire hero component.
        .hero-container {     
          
          // Text in top of each image in carousel.
          .foreground {
            position: absolute;
      
            color: $text-color;
            background-color: $logo-bg-color;
      
            width: 40%;
            padding: 70px 40px;
            top: calc(100% - 95%);
            left: calc(100% - 95%);
      
            border-radius: 10px;
            border: 1px solid $logo-color;
            box-shadow: 0 0 10px $bg-color;

            @media screen and (min-width: $min-layout-breakpoint-tablet) and (max-width: $max-layout-breakpoint-tablet) {
              width: 60%;
              background-color: #1a1a1aa1;
              padding: 30px 30px;
            }

            @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
              width: 80%;
              padding: 0px 10px;
              left: calc(100% - 98%);

              background-color: #1a1a1aa1;
            }
      
            .info {
              display: flex;
              flex-direction: column;
              align-items: center;

              @media screen and (min-width: $min-layout-breakpoint-tablet) and (max-width: $max-layout-breakpoint-tablet) {
                font-size: 0.8rem;
                align-items: flex-start;

                h1, h3 {
                  text-align: start;
                }
              }

              @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
                font-size: 0.6rem;
                flex-direction: row;
                justify-content: space-between;

                h1 {
                  text-align: start;
                }

                h3 {
                  display: none;
                }
              }
      
              span {
                background-color: $bg-color;
      
                padding: 10px;
                width: max-content;
      
                border: 1px solid $logo-color;
                border-radius: 10px;
      
                &:hover {
                  cursor: pointer;
                  box-shadow: 0 0 10px $text-color;
                  color: $hover-color;
                }
              }
            }
          }
        }

        // Carousel dots at the bottom.
        .control-dots {
          width: max-content;
          left: calc(100% - 54%);

          background-color: $logo-bg-color;
          box-shadow: 0 0 10px $bg-color;

          padding: 10px;

          border: 1px solid $logo-color;
          border-radius: 20px;

          @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
            padding: 5px;
            left: calc(100% - 62%);
          }
          
          .dot {
            background: $logo-color;
          }
        }

        // Carousel arrows.
        .control-arrow {
          width: 50px;
          height: 50px;
          top: calc(100% - 45%);

          background-color: $logo-bg-color;
          opacity: 1;

          border-radius: 50%;
          margin: 0 20px;

          box-shadow: 0 0 10px $bg-color;
          border: 1px solid $logo-color;

          &:hover {
            opacity: 0.8;
          }

          @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
            width: 30px;
            height: 30px;
          }
        }

        // Carousel items.
        .carousel-status {
          color: $text-color;
          background-color: $logo-bg-color;
          box-shadow: 0 0 10px $bg-color;

          padding: 8px;
          margin-right: 8px;

          border-radius: 10px;
          border: 1px solid $logo-color;

          @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
            display: none;
          }
        }

        // Carousel slider.
        .carousel-slider {
          border-radius: 10px;
          box-shadow: 0 0 10px $bg-color;

        }

        .control-next::before {
          border-left: 10px solid $logo-color;
          margin: 0;

          @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
            margin-bottom: 6px;
            margin-left: 2px;
          }
        }

        .control-prev::before {
          border-right: 8px solid $logo-color;
          margin: 0;

          @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
            margin-bottom: 6px;
            margin-right: 2px;
          }
        }
      }
    }

    .clothing {
      box-sizing: border-box;

      width: 60%;
      margin: 25px 0;
      padding: 40px 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      
      background-color: $logo-bg-color;
      box-shadow: 0 0 10px $hover-color;

      border-radius: 20px;

      @media screen and (min-width: $min-layout-breakpoint-tablet) and (max-width: $max-layout-breakpoint-tablet) {
        width: 90%;
      }

      @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
      }

      .items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 40px;
       
        .item-container {
          box-sizing: border-box;

          width: 300px;
          height: 500px;
          padding: 10px;
  
          position: relative;
  
          background-color: $item-bg;
          border-radius: 10px;
          box-shadow: 0 0 10px $bg-color;
          border: 3px solid $logo-color;
  
          transition: transform 0.3s ease;
  
          &:hover {
            cursor: pointer;
            opacity: 0.9;
            transform: scale(1.01);
          }
  
          .img-container {
            width: 100%;
            height: 75%;
  
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
  
          .info {
            font-size: 0.8rem;
            
            width: 100%;
            height: 20%;

            @media screen and (min-width: $min-layout-breakpoint-tablet) and (max-width: $max-layout-breakpoint-tablet) {
              font-size: 1rem;
            }

            p {
              font-weight: bold;
            }
          }
        }
      }

      .pages {
        width: max-content;
        color: $text-color;
        padding-top: 40px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 10px;

        @media screen and (min-width: $min-layout-breakpoint-tablet) and (max-width: $max-layout-breakpoint-tablet) {
          font-size: 1.2rem;
        }

        span {
          padding: 5px;

          &:hover {
            cursor: pointer;
            color: $hover-color;
            text-decoration: underline $hover-color;
          }

          &:active {
            color: $logo-color;
          }
        }

        .clicked {
          color: $logo-color;
          background-color: $bg-color;
          border-radius: 5px;
          box-shadow: 0 0 5px $hover-color;
        }
      }
    }

    // Item page container
    .item-page-container {
      box-sizing: border-box;

      width: 60%;
      margin: 25px 0;
      padding: 40px 40px;

      background-color: $logo-bg-color;
      box-shadow: 0 0 10px $hover-color;

      border-radius: 20px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      color: $text-color;

      @media screen and (min-width: $min-layout-breakpoint-tablet) and (max-width: $max-layout-breakpoint-tablet) {
        width: 90%;
      }

      @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
        width: 100%;

        box-shadow: none;
        border-radius: 0;

        flex-direction: column;
      }

      .img-container {
        width: 50%;

        @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
          width: 100%;
        }

        img {
          width: 100%;
          height: 70%;
          object-fit: contain;

          background-color: $item-bg;
          box-shadow: 0 0 5px $bg-color;

          border-radius: 10px;
        }
      }

      .info-container {
        box-sizing: border-box;

        width: 45%;
        padding: 0 20px;

        @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
          width: 100%;
        }

        .info {
          box-sizing: border-box;
          width: 100%;
        }

        .variants {
          box-sizing: border-box;
          width: 100%;

          display: flex;
          flex-direction: row;
          column-gap: 20px;
          flex-wrap: wrap;

          @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
            justify-content: space-between;
          }

          @media screen and (min-width: $min-layout-breakpoint-tablet) and (max-width: $max-layout-breakpoint-tablet) {
            justify-content: space-between;
          }

          .variant-container {
            box-sizing: border-box;
            width: 15%;

            display: flex;
            flex-direction: column;
            text-align: center;

            background-color: $bg-color;
            border-radius: 10px;
            box-shadow: 0 0 5px $bg-color;

            @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
              width: 25%;
              
              p {
                word-wrap: break-word;
              }
            }

            @media screen and (min-width: $min-layout-breakpoint-tablet) and (max-width: $max-layout-breakpoint-tablet) {
              width: 30%;
            }

            img {
              border-radius: 0 0 10px 10px;
            }

            &:hover {
              cursor: pointer;
              box-shadow: 0 0 5px $hover-color;
              color: $hover-color;
            }

            &:active {
              color: $logo-color;
            }

            &.clicked {
              color: $logo-color;
              box-shadow: none;
              border: 1px solid $logo-color;
            }
          }

        }

        .size-container {
          width: 100%;

          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          column-gap: 20px;
          row-gap: 20px;

          @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
            justify-content: space-between;
          }

          @media screen and (min-width: $min-layout-breakpoint-tablet) and (max-width: $max-layout-breakpoint-tablet) {
            justify-content: space-between;
          }

          span {
            box-sizing: border-box;
            width: 90px;
            padding: 15px;

            background-color: $bg-color;

            display: flex;
            justify-content: center;
            align-items: center;

            box-shadow: 0 0 5px $bg-color;
            border-radius: 10px;

            &:hover {
              cursor: pointer;
              box-shadow: 0 0 5px $hover-color;
              color: $hover-color;
            }

            &:active {
              color: $logo-color;
            }

            &.clicked {
              color: $logo-color;
              box-shadow: none;
              border: 1px solid $logo-color;
            }
          }

        }

        #add-btn {
          width: 100%;
          padding: 15px 0;
          margin-top: 25px;

          background-color: $bg-color;
          color: $logo-color;
          box-shadow: 0 0 5px $bg-color;

          border-radius: 10px;
          border: 1px solid $logo-color;

          @media screen and (min-width: $min-layout-breakpoint-tablet) and (max-width: $max-layout-breakpoint-tablet) {
            font-size: 1.3rem;
          }

          &:hover {
            cursor: pointer;
            box-shadow: 0 0 5px $hover-color;
            color: $hover-color;
          }

          &:active {
            color: $logo-color;
          }
        }
      }
    }

    // Footer container.
    .footer-container {
      width: 100%;

      padding: 30px 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;

      background-color: #1a1a1a;
      color: $text-color;

      .info {
        width: 60%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (min-width: $min-layout-breakpoint-tablet) and (max-width: $max-layout-breakpoint-tablet) {
          width: 90%;
          font-size: 1.2rem;
        }
    
        @media screen and (min-width: $min-layout-breakpoint-mobile) and (max-width: $max-layout-breakpoint-mobile) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          .shop, .corporate-info, .help {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }

        h3 {
          color: $logo-color;
        }

        p {
          &:hover {
            cursor: pointer;
            text-decoration: underline $logo-color;
          }
        }
      }

      .socials {
        display: flex;
        flex-direction: row;
        column-gap: 10px;

        font-size: 1.5rem;

        @media screen and (min-width: $min-layout-breakpoint-tablet) and (max-width: $max-layout-breakpoint-tablet) {
          font-size: 1.8rem;
        }

        .social-icon {
          transition: transform 0.3s ease;

          &:hover {
            cursor: pointer;
            transform: scale(1.2);
          }
        }
      }

      span, p {
        @media screen and (min-width: $min-layout-breakpoint-tablet) and (max-width: $max-layout-breakpoint-tablet) {
          font-size: 1.2rem;
        }
      }
    }
  }
}
